body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px;
    background-color: bisque;
}
.image-card{
    width: 300px;
    background-color: white ;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    position: relative;

    overflow: hidden;
}
.image-card img{
    width: 100%;
    display: block;
    border-radius: 8px;
}
.bedge{
    position:absolute;
    right: 10px;
    top: 10px;

    padding: 4px 8px;
    background-color: red;
    border-radius: 10px;
    color: brown;
}   
.overlay{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    padding: 20px;

    background-color: rgba(0, 0, 0, 0.3);
    color: white;

    opacity: 0;
    transition: opacity 0.3s  ease;
}
.image-card:hover .overlay{
    opacity: 1;
}